In [7]:
import pandas as pd

In [8]:
from pyspark.sql import SparkSession

In [ ]:
!pip install pyspark

In [ ]:
!pip install jupyterlab

In [ ]:
!pip install delta-spark

In [ ]:
!pip install wget

In [ ]:
!pip install wget
!wget https://repo1.maven.org/maven2/org/apache/iceberg/iceberg-spark3-runtime/0.12.0/iceberg-spark3-runtime-0.12.0.jar
!mv iceberg-spark3-runtime-0.12.0.jar /usr/local/lib/

In [ ]:
#link do dataset https://www.kaggle.com/datasets/franckepeixoto/tabela-fipe?rvi=1

In [9]:
caminho_arquivo = 'FipePrecos.csv'
dataset = pd.read_csv(caminho_arquivo)

In [10]:
print(dataset)

        Unnamed: 0 codigoFipe  marca                         modelo  \
0                0   038003-2  Acura                 Integra GS 1.8
1                1   038001-6  Acura                        NSX 3.0
2                2   038003-2  Acura                 Integra GS 1.8
3                3   038002-4  Acura                 Legend 3.2/3.5
4                4   038002-4  Acura                 Legend 3.2/3.5
...            ...        ...    ...                            ...
466015      544147   061001-1   Walk  Buggy  Walk Sport 1.6 8V 58cv
466016      544148   061001-1   Walk  Buggy  Walk Sport 1.6 8V 58cv
466017      544149   061001-1   Walk  Buggy  Walk Sport 1.6 8V 58cv
466018      544150   061001-1   Walk  Buggy  Walk Sport 1.6 8V 58cv
466019      544151   061001-1   Walk  Buggy  Walk Sport 1.6 8V 58cv

        anoModelo  mesReferencia  anoReferencia    valor
0            1992             11           2016  13041.0
1            1995              3           2013  52339.0
2            1992              3           2018  12423.0
3            1998              5           2016  31067.0
4            1998              2           2019  26381.0
...           ...            ...            ...      ...
466015       2011              2           2015  24811.0
466016       2022              6           2006  31503.0
466017       2011              8           2016  23582.0
466018       2022              7           2007  31990.0
466019       2022              4           2009  34425.0

[466020 rows x 8 columns]

In [11]:
# Inicializar uma sessão Spark
spark = SparkSession.builder \
    .appName("Exemplo Spark") \
    .getOrCreate()

# Testar o ambiente Spark
#df = spark.createDataFrame([(1, 'A'), (2, 'B'), (3, 'C')], ['ID', 'Letra'])
df = spark.read.csv(caminho_arquivo, header=True, inferSchema=True)
df.show()

+---+----------+-----+--------------+---------+-------------+-------------+-------+
|_c0|codigoFipe|marca|        modelo|anoModelo|mesReferencia|anoReferencia|  valor|
+---+----------+-----+--------------+---------+-------------+-------------+-------+
|  0|  038003-2|Acura|Integra GS 1.8|     1992|           11|         2016|13041.0|
|  1|  038001-6|Acura|       NSX 3.0|     1995|            3|         2013|52339.0|
|  2|  038003-2|Acura|Integra GS 1.8|     1992|            3|         2018|12423.0|
|  3|  038002-4|Acura|Legend 3.2/3.5|     1998|            5|         2016|31067.0|
|  4|  038002-4|Acura|Legend 3.2/3.5|     1998|            2|         2019|26381.0|
|  5|  038002-4|Acura|Legend 3.2/3.5|     1998|            9|         2015|29124.0|
|  6|  038001-6|Acura|       NSX 3.0|     1995|           10|         2018|43081.0|
|  7|  038003-2|Acura|Integra GS 1.8|     1992|           10|         2019|11433.0|
|  8|  038002-4|Acura|Legend 3.2/3.5|     1998|            5|         2017|29258.0|
|  9|  038001-6|Acura|       NSX 3.0|     1995|           10|         2013|51758.0|
| 10|  038003-2|Acura|Integra GS 1.8|     1992|            9|         2016|13083.0|
| 11|  038003-2|Acura|Integra GS 1.8|     1992|           12|         2021|11750.0|
| 12|  038003-2|Acura|Integra GS 1.8|     1992|            6|         2022|11789.0|
| 13|  038002-4|Acura|Legend 3.2/3.5|     1998|           11|         2011|36359.0|
| 14|  038002-4|Acura|Legend 3.2/3.5|     1998|            8|         2020|25128.0|
| 15|  038003-2|Acura|Integra GS 1.8|     1992|           11|         2021|11710.0|
| 16|  038002-4|Acura|Legend 3.2/3.5|     1998|            7|         2011|36448.0|
| 17|  038002-4|Acura|Legend 3.2/3.5|     1998|            6|         2016|30958.0|
| 18|  038001-6|Acura|       NSX 3.0|     1995|           10|         2020|40607.0|
| 19|  038002-4|Acura|Legend 3.2/3.5|     1998|            2|         2011|34171.0|
+---+----------+-----+--------------+---------+-------------+-------------+-------+
only showing top 20 rows

In [ ]:
!pip install db-sqlite3

In [ ]:
import sqlite3

# Conectar ao banco de dados (se não existir, será criado)
conn = sqlite3.connect('meu_banco.db')

In [ ]:
# Criar uma tabela
import sqlite3

# Conectar ao banco de dados (se não existir, será criado)
conn = sqlite3.connect('meu_banco.db')

# Criar tabelas
conn.execute('''CREATE TABLE IF NOT EXISTS departamento (
                id INTEGER PRIMARY KEY,
                nome TEXT)''')

conn.execute('''CREATE TABLE IF NOT EXISTS funcionario (
                id INTEGER PRIMARY KEY,
                nome TEXT,
                departamento_id INTEGER,
                FOREIGN KEY (departamento_id) REFERENCES departamento(id))''')

# Inserir dados de exemplo
conn.execute("INSERT INTO departamento (nome) VALUES ('RH')")
conn.execute("INSERT INTO departamento (nome) VALUES ('TI')")

conn.execute("INSERT INTO funcionario (nome, departamento_id) VALUES ('João', 1)")
conn.execute("INSERT INTO funcionario (nome, departamento_id) VALUES ('Maria', 2)")

# Salvar as mudanças
conn.commit()

In [ ]:
# Consultar dados
cursor = conn.execute("SELECT * FROM departamento")
print("Tabela 'departamento':")
for row in cursor:
    print(row)
"\n"
cursorFuncionario = conn.execute("SELECT * FROM funcionario")
print("Tabela 'funcionario':")
for row in cursorFuncionario:
    print(row)


# Deleta os registros das tableas
#cursor.execute("DELETE FROM departamento")
# Fechar a conexão com o banco de dados
#conn.close()

Tabela 'departamento':
Tabela 'funcionario':